.messages-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.message {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .6);
  padding: 15px;
  border-radius: 16px;
  color: #fff;
  min-width: 200px;
  max-width: 300px;
  opacity: 0;
  transition: opacity .3s ease-out;
  position: relative;
}

.message:before,
.message:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 15px;
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.message:before {
  transform: rotate(-45deg);
}

.message:after {
  transform: rotate(45deg);
}

.message.active {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.message + * {
  margin-top: 15px;
}

.message__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-right: 10px;
}

.message__text {
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
}